@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background-color: rgb(15, 14, 17);
}

h1 {
  color: #D3D3D3;
}

.banned {
  width: 405px;
  padding: 8% 0 0;
  margin: auto;
}

.banned-text {
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica Neue,Arial,sans-serif;
    text-align: center;
}