.vjs-settings-menu {
	outline: 0;
}

.vjs-icon-cog {
    font-size: 24px !important;
}

button.vjs-settings-menu {
    text-align: center;
}

.at-settings-menu {
	display: none;
    width: 190px;
    font-size: 12px;
    position: absolute;
    right: -3rem;
    -webkit-transition: opacity .15s,bottom .15s,max-height .15s step-end,width .15s cubic-bezier(.86,0,.07,1);
    transition: opacity .15s,bottom .15s,max-height .15s step-end,width .15s cubic-bezier(.86,0,.07,1);
    max-height: calc(100vh - 85px);
    overflow-y: auto;
    bottom: 3rem;
    z-index: 4;
    overflow-x: hidden;
	background-color: rgba(0,0,0,.9);
    color: #a49fad;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    box-shadow: 0 2px 20px rgba(0,0,0,.5), 0 15px 45px rgba(0,0,0,.2);
}

.pl-menu__inner {
    width: 190px;
    height: 250px;
    padding: .5rem 0;
    overflow: hidden;
}

.pl-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    line-height: 2rem;
}

.pl-toggle__button {
    content: ""; 
    display: inline-block;
    background-color: #b8b5c0;
    width: 3.125rem;
    height: 1.25rem;
    position: relative;
    vertical-align: bottom;
    cursor: pointer;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
}

.pl-toggle__button:after {
	content: "";
    display: block;
    background-color: #fff;
    width: 1.4rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.pl-toggle input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.pl-form__input[type=checkbox]:checked+label:after {
    display: block;
    content: "";
    height: .3rem;
    width: .7rem;
    position: absolute;
    top: 50%;
    left: .8rem;
    margin-top: -.1rem;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff
}

.pl-toggle input[type=checkbox]:checked+.pl-toggle__button:before {
    display: block;
    content: "";
    height: .3rem;
    width: .7rem;
    position: absolute;
    top: .6rem;
    left: 0.8rem;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.pl-toggle input[type=checkbox]:checked+.pl-toggle__button:after {
    content: "";
    display: block;
    position: absolute;
    top: 0rem;
    left: calc(100% - 1.5rem + 2px);
}

.pl-toggle input[type=checkbox]:checked+.pl-toggle__button {
    background-color: #2B60DE;
}

.pl-menu__section--with-sep {
    border-top: 1px solid #e5e3e8;
    margin-top: 5px;
    padding: 5px 0 0;
	border-color: #322f37;
}

.pl-menu__item--block {
    padding: 0;
    margin: 0;
}

.pl-menu__item {
    padding: 0;
    margin: 0 0 5px;
    line-height: 20px;
    color: #a49fad;
}

.pl-player-menu__toggle-item {
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pl-toggle__label-wrapper, .pl-toggle__label-wrapper .pl-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pl-toggle__label-wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.pl-toggle__label-wrapper .pl-form__label {
    line-height: 3rem;
    cursor: pointer;
	font-weight: 400;
}

.pl-form__label {
	color: #dad8de;
	font-family: Helvetica Neue,Arial,sans-serif;
}

input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
	font: 400 13.3333px Arial;
	-webkit-rtl-ordering: logical;
	-webkit-writing-mode: horizontal-tb !important;
}

.pl-menu__item--block, .pl-menu__item--block button {
    height: 30px;
    line-height: 30px !important;
}

.pl-menu__item--block button:active {
    color: #a49fad;
}

.pl-menu__item--block button:active {
    background-color: #232127;
}

.pl-menu__item--with-caret>button:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICA8cG9seWdvbiBmaWxsPSIjQTQ5RkFEIiBwb2ludHM9IjIgMCAyIDggNiA0Ii8+CiAgPC9nPgo8L3N2Zz4K);
}

.pl-menu__item--with-caret>button {
    background-repeat: no-repeat !important;
    background-position: 100% !important;
    background-origin: content-box !important;
    background-size: .8rem !important;
}

.pl-menu__item--block button:active {
    outline: none;
}

.pl-menu__item--block button, .pl-menu__item--block button:hover {
    text-decoration: none;
}

.pl-menu__item--block button:focus .pl-pill, .pl-menu__item--block button:hover .pl-pill, .theme--dark .pl-menu__item--block button:focus .pl-pill, .theme--dark .pl-menu__item--block button:hover .pl-pill, .theme--light .pl-menu__item--block button:focus .pl-pill, .theme--light .pl-menu__item--block button:hover .pl-pill {
    background: #9a7fcc;
}

.pl-pill {
    display: inline;
    position: relative;
    padding: .25rem .4rem;
    line-height: 1;
    font-size: 75%;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    background: #a49fad;
    white-space: nowrap;
    border-radius: 2px;
}

.pl-mg-l-05 {
    margin-left: .5rem!important;
}

.pl-menu__item--block button {
    width: 100%;
    display: block !important;
    padding: 0 10px;
    -webkit-transition: background-color .04s linear;
    transition: background-color .04s linear !important;
    text-align: left;
    background-color: transparent;
}

.pl-menu__item--block button:focus, .pl-menu__item--block button:hover {
    background-color: #7d5bbe;
}

.pl-menu__item--block button:focus, .pl-menu__item--block button:hover {
    color: #fff;
}

.pl-menu__item--with-caret>button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICA8cG9seWdvbiBmaWxsPSIjQTQ5RkFEIiBwb2ludHM9IjIgMCAyIDggNiA0Ii8+CiAgPC9nPgo8L3N2Zz4K) !important;
}

.pl-menu a, .pl-menu button {
    color: #e2dbf0;
}

.pl-menu__item--with-caret-left>button:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICA8cG9seWdvbiBmaWxsPSIjRkZGIiBwb2ludHM9IjQgMCA0IDggMCA0Ij48L3BvbHlnb24+CiAgPC9nPgo8L3N2Zz4K);
}

.pl-menu__item--with-caret-left>button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICA8cG9seWdvbiBmaWxsPSIjRkZGIiBwb2ludHM9IjQgMCA0IDggMCA0Ij48L3BvbHlnb24+CiAgPC9nPgo8L3N2Zz4K) !important;
}

.pl-menu__item--with-caret-left>button {
    background-repeat: no-repeat !important;
    background-position: 0 !important;
    background-origin: content-box !important;
    background-size: .8rem !important;
    text-indent: 1.5rem !important;
}